* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  }

/* HOME PAGE */

body {
  padding: 15px 40px 10px 40px;
  background-color: black;
  }
  
  /* CENTER SECTION */
  
  .center-container{
    padding: 45px 10px 45px 10px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .message-container{
    text-transform: uppercase;
    display:flex; 
    justify-content: center;
  
  }
  
  .stock-name-section {
    padding-right: 25px;
  }
  
  .stock-name {
    color: rgb(176, 87, 87);
    font-size: 18px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 25%;
  }
  
  .stock-sign-label {
    color: rgba(255, 0, 0, 0.883);
    font-size: 56px;
    font-weight: 700;
  }
  
  .stock-price-section {
    padding-left: 25px;
  }
  
  .mrkt-info {
    color: rgb(133, 130, 130);
    font-size: 16px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 25%;
  }
  
  .stock-price {
    font-size: 57px;
  }
  
  .last-updated {
    text-align: center;
    font-size: 14px;
    color:rgb(150, 141, 125);
    margin-top: 0;
  }
  
  .input-section{
    text-align: center;
    padding: 10px;
    color: white;
  }
  
  .textInputBox {
    background-color: black;;
    border: none;
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-left: 10px;
    width: 10%;
    color: white;
  }
  
  
  /* TABLE SECTION */ 
  
  .table-section{
    padding: 5px 100px 5px 108px;
    table-layout: fixed;
  }
  
  Table {
    /* table-layout: fixed; */
    border-collapse: collapse;
  }
  
  thead, th {
    color: white;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
  }
  
  td {
    color: white;
    font-size: 12x;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
  }
  
  
  /* NAVIATION BAR */
  
  
  .header-section{
    display: flex;
    justify-content: space-between;
  
  }
  
  .logo-section{
    order: 1;
  }
  
  .logo {
    height: 45px;
    width: auto;
    padding: 10px 0 0 0 ;
  }
  
  .nav-section{
    order: 2; 
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.678);
  }

/* Media Query */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	/* thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	} */
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}